name: Test text

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: checkout code
        uses: actions/checkout@v3

      - name: executable script
        run: chmod +x test_text.sh

      - name: run test srcipt
        run: ./test_text.sh
